a{
 text-decoration:none;
 color:inherit;
}

ul{
margin: 0;
padding: 0;
list-style: none;
}
body{
     font-family: "Inter", sans-serif;
     font-size: 24px;
     line-height: 18px;
     font-weight: 400;
     color: #0a0a0a;
}

.header{
background-color: #0a0a0a;
padding: 33px 0 32px;
font-size: 24px;
line-height: 29px;
color: #717171;

}
.container{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
.nav{
display: flex;
justify-content: space-between;
align-items: center;
}    
.menu{
    display:flex;
    flex-grow: 1;
    flex-basis: 0;
    
} 
.phone{
     flex-grow: 1;
    flex-basis: 0;
    text-align: right;
    font-size: 24px;
    line-height: 29px;
}   
.menu-item{
    padding-right: 30px;
    
}   
.headline{
    background-color: #f5f5f7;
    text-align: center;
    padding: 70px 0 40px;
} 
.title{
    text-transform: uppercase;
    margin:0 0 40px;
    color: #490E84;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}   
.headline-img{
    margin-bottom: 25px;
}    
.headline-btn{
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #fff;
    background-color: #490E84;
    padding: 22px 90px 19px;
    border-radius: 30px;
    
}
.new{
    padding: 90px 0 150px;
}
.new-title,
.color-title{
    margin: 0 0 50px;
    text-transform: uppercase;
    text-align: center;
    color: #717171;
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
}
.new-info{
    display: flex;
    align-items: center;
}
.new-text p{
    max-width: 560px;
    margin: 0 0 30px;
}
.new-text b{
    max-width: 560px;
    font-size: 20px;
    line-height: 26px;
    display: block;
}
.images-new{
    max-width: 400px;
    margin-left: auto;
}
.color{
    padding-bottom: 150px;
}  
.color-list{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.color-item img{
margin-bottom: 20px;
}
.color-item h3{
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 10px;
}
.color-item p{
    margin: 0;
}
.contacts-inner{
    display: flex;
    background-color: #574B63;
    color: #fff;
}
.contacts-form{
    width: 100%;
    padding: 140px 93px;
    text-align: center;
}
 .contacts-title{
    margin: 0 0 60px;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 39px;
 }
.contacts-input{
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #fff;
    display:block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #574B63;
}
.contacts-input::placeholder{
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    opacity: .5;
     font-family: "Inter", sans-serif;
     font-weight: 400;

}
.contacts-form p{
    opacity: 0.5;
    text-align: center;
    margin:30px 0;
}
.contacts-form button{
    border:none;
    text-transform: uppercase;
    color: #490E84;
    background-color: #fff;
    border-radius: 30px;
    padding: 16px 81px;
    font-weight: 400;
    cursor: pointer;
}
.footer{
background-color: #0a0a0a;
}
.footer-inner{
    color: #717171;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:40px 0;
}   
.footer-link{
    flex-basis: 0;
    flex-grow: 1;
}  
 .menu-btn{
    display: none;
 } 
@media (max-width: 1200px){
    .headline-img{
        min-width: 100%;
    }
    .contacts-inner{
        display: block;

    }
    .contacts-form{
        width: auto;
    }
    .contacts-title{
        text-align: center;
    }
    .contacts-img{
        width: 100%;
    }
    .contacts{
        background-color: #574B63;
    }
 
}
@media (max-width: 1100px){
    .color-list{
        flex-wrap: wrap;
    }
    .color-item{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 940px){
     .menu-btn{
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        order: 1;
        border:none;
        cursor: pointer;
        position: relative;
     }
     .btn-line{
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
        height: 2px;


     }
     .btn-line:nth-child(1){
        top: 0;
     }
     .btn-line:nth-child(2){
        top: 20px;
     }
     .btn-line:nth-child(3){
        top: 20px;
     }
     .btn-line:nth-child(4){
        top: 40px;
     }
     .menu{
        display: none;
     }
    .images-new{
        display: none;
    }
    .new-text p,
    .new-text b{
    max-width: 100%;
    
}
}
   @media (max-width: 768px){
    .headline,
    .new{
        padding: 50px 0;
    }
    .color{
        padding-bottom: 50px;
    }
        .contacts-form{
    padding: 50px 70px;
 }

   }
@media (max-width: 640px){
    .footer-inner{
        padding: 20px;
        flex-direction: column;
    }

    }

@media (max-width: 560px){
   .title{
    font-size: 34px;
    line-height: 42px;
   }
   .footer-inner .logo{
    margin: 15px 0;  
   }

}
  .new-title, .color-title{
    font-size: 28px;
    line-height: 32px;
  }
  .headline-btn {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding: 16px 90px 16px;
      
    }
    .color-item,
    .color-item img,
    .contacts-title{
        width: 100%;
 }
   @media (max-width: 375px){
     .contacts-form{
    padding: 50px 30px;
 }
}

 
                 
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      